//input field
//button
@use "../styles/variables.scss" as *;
@use "../styles/mixins.scss" as *;

.title {
  @include body-large-mobile;
  @include tablet {
    @include body-large-tablet-desktop;
  }
}

.svg-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.svg-btn svg {
  height: 1rem;
  width: 1rem;
}

.form-btn {
  width: 25%;
  margin-top: 0.5rem;
  height: 1.8rem;
  background-color: $form-btn-bg;
  color: $form-btn-font;
  border: 0.07rem solid $form-btn-font;
  font-weight: 700;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;

  // &__title {
  //   @include body-large-tablet-desktop;
  // }
  &__input-container {
    display: flex;
    flex-direction: column;
    width: 48%;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    margin: 0.2rem;
    width: 70%;
    @include body-large-mobile;

    @include tablet {
      width: 50%;
    }
  }

  &__btn {
    width: 25%;
    margin-top: 0.5rem;
    height: 1.8rem;
    background-color: $form-btn-bg;
    color: $form-btn-font;
    border: 0.07rem solid $form-btn-font;
    font-weight: 700;
    border-radius: 5px;
    height: 2rem;
  }

  &__input {
    height: 2rem;
  }

  &__input-income {
    width: 50%;
  }
}
