@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf") format("ttf");
  src: url("../assets/fonts/Lato-Regular.woff") format("woff");
  src: url("../assets/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Bold.ttf") format("ttf");
  src: url("../assets/fonts/Lato-Bold.woff") format("woff");
  src: url("../assets/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
}
