//color variables
$soft-red: #ec775f;
$cream: #f8e9dd;
$pale-orange: #fffaf5;
$black: #000;
$white: #fff;

//element colots
$header-tab-bg: $soft-red;
$header-tab-font: $white;
$header-tab-hover: $pale-orange;
$header-tab-btn: $white;
$list-bg: $cream;
$list-btn: $black;
$form-btn-bg: $pale-orange;
$form-btn-font: $black;

//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
