@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.income-form {
  max-width: 500px;
  width: 95%;
  margin: 0 auto;

  @include tablet {
    width: 100%;
    margin: 1rem 0;
  }
}
